apache2.mat
cfd1.mat
cfd2.mat
ex15.mat
Flan_1565.mat
G3_circuit.mat
parabolic_fem.mat
shallow_water1.mat
StocF-1465.mat

apache2.mtx
cfd1.mtx
cfd2.mtx
ex15.mtx
Flan_1565.mtx
G3_circuit.mtx
parabolic_fem.mtx
parabolic_fem_b.mtx
shallow_water1.mtx
StocF-1465.mtx

risultati_windows.csv

# Python
__pycache__/
.venv/
venv/
*.conda
*.tar.bz2
*.mtx
*.json
.vscode/

#
risultati_linux.csv

Progetto.asv
